/* .NewPlaces {
display: flex;
align-items: center;
justify-content: center;

}
.NewPlaces h1 {
    margin-top: 30px;
} */
.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newPalceForm {
    height: auto;
    width: 500px;
    background-color: whitesmoke;
    /* background: transparent; */
    position: absolute;
    top: 150px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction:column;
    text-align: start;
    justify-content: space-between;
    border-radius: 10px;
    /* border: 1px solid gray; */
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.18)
}
.newPalceForm button {
    width: 100%;
    /* padding: 3px; */
    height: 30px;
    border-radius: 10px;
    margin: 10px auto;
    background-color: orange;
    opacity: 0.6;
    color: white;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.10)
}
.newPalceForm button.active {
    width: 100%;
    /* padding: 3px; */
    height: 30px;
    border-radius: 10px;
    margin: 10px auto;
    opacity: 1;
    background-color: orange;
    color: white;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.10)
}
@media  screen and (max-width:650px) {

    .newPalceForm {
        width: 300px;
        height: auto;
    }
    /* .newPalceForm button {
        width: ;
    } */
}